@import url('https://fonts.googleapis.com/css2family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
 font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,6)),url(https://static.wikia.nocookie.net/marvelcinematicuniverse/images/8/8a/Morag_1.jpg/revision/latest?cb=20140703152342);
 background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;

}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}
header img
{
    position: relative;
    transition: 0.6s;
}
header .logo
{
    position: relative;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 1px;
    margin-right: 580px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}
header ul li
{
    position: relative;
    list-style: none;
    margin-left: 30px;
}
header ul li a
{
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius:20px;
    transition: 0.6s;
    margin-top: 2px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
header.sticky
{
padding: 10px 100px;
    background: #2b1055;
}
.paral
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.paral img
{

    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    color: #2b1055;
    padding-top: 150px;
    position: absolute;
    padding-left:100px;
    padding-bottom: 30px;
    margin-bottom: 300px;
    font-weight: 700;
    z-index: 10;
    opacity: 0.7;

}
#paragraph
{
    font-weight: 400;
    display: inline-block;
    color: #2b1055;
    position: absolute;
    background: white;
    padding: 100px 40px 40px 100px;
    margin-bottom: 100px;
    opacity: 0.7;
}
#btn
{
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-right: 1330px;
    margin-top: 250px;
    background: white;
    border-radius: 15px;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 10;

}
.mainCards{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,7)),url(https://static.wikia.nocookie.net/marvelcinematicuniverse/images/8/8a/Morag_1.jpg/revision/latest?cb=20140703152342);
  background-position: center;
  background-size: cover;
  padding-right:10%;
  padding-left: 10%;
  box-sizing: border-box;
}
.cen-word{
  color: white;
  font-size:70px;
  padding-left:100px;
  padding-top: 200px;
  padding-bottom: 10px;
}
.cen-question{
  color: white;
  font-size:50px;
}
.mainText{
  color: white;
  font-size: 17px;
  line-height: 18px;
  padding-left: 70px;
  padding-right: 60px;
  padding-bottom: 40px
}
.col-5{
  padding-top: 150px;
}
.movie-name {
  color: white;
  font-size:30px;
  padding-right: 200px;
  padding-left: 200px;
}
.movie-d {
  color: white;
  font-size: 15px;
  line-height: 17px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom:50px;
}
label {
  color: white;
  font-size:26px;
}
.pictures{
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
}
.karuselka{
  padding-top: 250px;
}
.carousel-control-prev{
  left:-190px;
}
.carousel-control-next{
  right:-100px;
}
.card{
  text-align: center;
  width:600px;
  height: 350px;
  background: #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}
.card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .circle ::before{
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #d83133;
}

.button1 {
  padding: 5px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #e5e4e2;
  color: #262626;
  border: none;
  border-radius: 9px;
  box-shadow: 0 9px #bfc1c2;
  font-family: fantasy;
}

.button1:hover {
  background-color: #262626;
  color: white;
    box-shadow: 0 9px #121212;
}

.button1:active {
  background-color: #262626;
  color: white;
  box-shadow: 0 5px #121212;
  transform: translateY(4px);
}
.divmain {
  margin-top: 25px;
  width: 75%;
  height: 600px;
  left: 50%;
  right: 50%;
  position: absolute;
  transform: translate(-50%);
  background-image: url('https://i.insider.com/5e16567b49878c544d4f94c5');
  background-size: 100% 100%;
  box-shadow: 1px 1px 10px 5px black;
  animation: slider 15s infinite linear;

}
@keyframes slider {
  15%{background-image: url('https://www2.pictures.zimbio.com/mp/9f-Tw0cdxFVx.jpg');}
  36%{background-image: url('https://static1.srcdn.com/wordpress/wp-content/uploads/2020/03/Training-Article-Feature-Image.jpg');}
  57%{background-image: url('https://d23.com/app/uploads/2018/05/1180w-600h_050218_mcu-iconic-marvel-moments-780x440.jpg');}
  78%{background-image: url('https://images.assettype.com/freepressjournal/2020-04/564a7e61-99df-4e19-9556-1267c8f8460a/captian_hammer.webp'); }
}
