@import url('https://fonts.googleapis.com/css2family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
 font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,6)),url(https://static.wikia.nocookie.net/marvelcinematicuniverse/images/8/8a/Morag_1.jpg/revision/latest?cb=20140703152342);
 background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;

}

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-size: 20px;
    transition: 0.6s;
    z-index: 100000;
}
nav img {
    position: relative;
    transition: 0.6s;
}
nav .logo
{
    position: relative;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 1px;
    margin-right: 500px;
    transition: 0.6s;
}
.navl ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 40%;
}
.navl ul li {
    position: relative;
    list-style: none;
    margin-left: 30px;
}
.navl ul li a {
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.6s;
    margin-top: 2px;
}
.navl ul li a:hover,
.navl ul li a.active
{
    background: #fff;
    color: #2b1055;
}

.navl.sticky
{
padding: 10px 100px;
    background: #2b1055;
}
.navl.icon {
  display: none;
}

@media only screen and (min-width: 100px) {
	nav, nav ul{
		display: column;
	}
}

@media only screen and (min-width: 767px) {
nav, nav ul{
		display: flex;
	}
}

.paral
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.paral img
{

    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    color: #2b1055;
    padding-top: 150px;
    position: absolute;
    padding-left:100px;
    padding-bottom: 30px;
    margin-bottom: 300px;
    font-weight: 700;
    z-index: 10;
    opacity: 0.7;

}
#paragraph
{
    font-weight: 400;
    display: inline-block;
    color: #2b1055;
    position: absolute;
    background: white;
    padding: 100px 40px 40px 100px;
    margin-bottom: 100px;
    opacity: 0.7;
}
#btn
{
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-right: 1330px;
    margin-top: 250px;
    background: white;
    border-radius: 15px;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 10;

}
.mainCards{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,7)),url(https://static.wikia.nocookie.net/marvelcinematicuniverse/images/8/8a/Morag_1.jpg/revision/latest?cb=20140703152342);
  background-position: center;
  background-size: cover;
  padding-right:10%;
  padding-left: 10%;
  box-sizing: border-box;
}
.cen-word{
  color: white;
  font-size:70px;
  padding-left:100px;
  padding-top: 200px;
  padding-bottom: 10px;
}
.cen-question{
  color: white;
  font-size:50px;
}
.mainText{
  color: white;
  font-size: 17px;
  line-height: 18px;
  padding-left: 70px;
  padding-right: 60px;
  padding-bottom: 40px
}
.col-5{
  padding-top: 150px;
}
.movie-name {
  color: white;
  font-size:30px;
  padding-right: 200px;
  padding-left: 200px;
}
.movie-d {
  color: white;
  font-size: 15px;
  line-height: 17px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom:50px;
}
label {
  color: white;
  font-size:26px;
}
.pictures{
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 50px;
}
.karuselka{
  padding-top: 250px;
}
.carousel-control-prev{
  left:-190px;
}
.carousel-control-next{
  right:-100px;
}
.card{
  text-align: center;
  width:600px;
  height: 450px;
  background: #ccc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: 0.5s;
}
.card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .circle ::before{
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #d83133;
}

.characterr
{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characterr .cardd
{
    position: relative;
    width: 500px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-filter: blur(50px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.7);

}
.characterr .cardd img
{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}


.characterr .cardd:hover img
{
    left: 75%;
    height: 390px;
}
.characterr .cardd .contentt
{
    position:relative;
    width: 50%;
    left: 0;
    padding: 20px 20px 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.characterr .cardd:hover .contentt
{
    left: 0;
    visibility: visible;
    opacity: 1;
}
.characterr .cardd .contentt h2
{
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
    font-family: fantasy;
}
.characterr .cardd .contentt p
{
    color: white;
    font-family: fantasy;
}
.characterr .cardd .contentt a
{
    position: relative;
    color: black;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 700;
    font-family: fantasy;
}
@media (max-width: 991px)
{
.characterr .cardd
    {
    width: auto;
    }
}
.characterr1 .cardd1
{
    position: relative;
    width: 250px;
    height: 190px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-filter: blur(50px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.7);

}
.characterr1 .cardd1 img
{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    transition: 0.5s;
}


.characterr1 .cardd1:hover img
{
    left: 75%;
    height: 230px;
}
.characterr1 .cardd1 .contentt1 h2
{
    color: #bfc1c2;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 0.5em;
    font-family: fantasy;
}
.characterrb
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characterrb .carddb
{
    position: relative;
    width: 750px;
    height: 450px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-filter: blur(50px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.7);
}
.characterrb .carddb img
{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 450px;
    transition: 0.5s;
}
.characterrb .carddb:hover img
{
    left: 75%;
    height: 500px;
}
.characterrb .carddb .contenttb
{
    position:relative;
    width: 50%;
    left: 0;
    padding: 20px 20px 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.characterrb .carddb:hover .contenttb
{
    left: 0; visibility: visible;
    opacity: 1;
}
.characterrb .carddb .contenttb h2
{
    color: white;
    text-transform: uppercase;
    font-size: 2.8em;
    line-height: 1em;
    font-family: fantasy;
}
.characterrb .carddb .contenttb p
{
    color: white;
    font-family: fantasy;
}
.characterrb .carddb .contenttb a
{
    position: relative;
    color: black;
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 700;
    font-family: fantasy;
}
@media (max-width: 991px)
{
.characterrb .carddb
    {
    width: auto;
    }
}
.button1 {
  padding: 5px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #e5e4e2;
  color: #262626;
  border: none;
  border-radius: 9px;
  box-shadow: 0 9px #bfc1c2;
  font-family: fantasy;
}

.button1:hover {
  background-color: #262626;
  color: white;
    box-shadow: 0 9px #121212;
}

.button1:active {
  background-color: #262626;
  color: white;
  box-shadow: 0 5px #121212;
  transform: translateY(4px);
}

